
  
  <div class="site-main">
    <img class="image-container" src="assets/image.jpg" />
  
    <div class="common-container"><div class="title">Business Event</div></div>
    <div class="common-container">
      <div class="event-bio-info-bar">
        <div class="info-bar-item">
          <div class="bar-icon location">
            <fa-icon icon="location" style="padding: 12px;"></fa-icon> 
            <i
              aria-hidden="true"
              class="fa fa-map-marker"
              style="color: rgb(255, 255, 255)"
            ></i>
          </div>
          <div class="bar-text" style="color: rgb(255, 255, 255)">{{getlocation()}}</div>
        </div>
        
        <div class="info-bar-item">
          <div class="bar-icon clock">
            <fa-icon icon="clock" style="padding: 12px;"></fa-icon> 
            <i
              aria-hidden="true"
              class="fa fa-clock-o"
              style="color: rgb(255, 255, 255)"
            ></i>
          </div>
          <div class="bar-text" style="color: rgb(255, 255, 255)">10:40</div>
        </div>
        <div class="info-bar-item">
          <div class="bar-icon calendar">
           
            <fa-icon icon="calendar" style="padding: 12px;"></fa-icon>  <i
              aria-hidden="true"
              class="fa fa-calendar"
              style="color: rgb(255, 255, 255)"
            >
            
          </i>
          </div>
          <div class="bar-text" style="color: rgb(255, 255, 255)">28 November</div>
        </div>
        
      </div>
  
      