/* You can add global styles to this file, and also import other style files */
/* html, body {
    height: 100%;
    margin: 0;
  }
  [main] {
    min-height: 100%;
  }
  [footer] {
    height: 150px; 
    margin-top: -150px;
  } */